@import url("style_general.css");

section.intro {
    padding: 0%;
    text-align: center;
    font-size: 18px;
    margin: 300px 450px 0px 450px;
    color: rgb(77, 77, 77);
}

/* Responsive design */
@media screen and (max-width: 1500px) {
    section.intro {    
        margin: 230px 400px 0px 400px;
    }
}

@media screen and (max-width: 1300px) {
    section.intro {    
        margin: 200px 350px 0px 350px;
    }
}

@media screen and (max-width: 1100px) {
    section.intro {    
        margin: 180px 300px 0px 300px;
    }
}

@media screen and (max-width: 1000px) {
    section.intro {    
        margin: 160px 250px 0px 250px;
    }
}

@media screen and (max-width: 900px) {
    section.intro {    
        margin: 160px 200px 0px 200px;
    }
}

@media screen and (max-width: 800px) {
    section.intro {    
        margin: 160px 150px 0px 150px;
    }
}

@media screen and (max-width: 700px) {
    section.intro {    
        margin: 180px 50px 0px 50px;
    }
}

@media screen and (max-width: 600px) {
    section.intro {    
        margin: 150px 35px 0px 35px;
    }
}

@media screen and (max-width: 500px) {
    section.intro {    
        margin: 120px 35px 0px 35px;
    }
}

@media screen and (max-width: 400px) {
    section.intro {    
        margin: 130px 20px 0px 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 300px) {
    section.intro {    
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
    section.intro {    
        margin: 100px 10px 0px 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 200px) {
    section.intro {    
        margin: 100px 5px 0px 5px;
        font-size: 8px;
    }
}

@media screen and (max-width: 120px) {
    section.intro {    
        margin: 100px 0px 0px 0px;
        font-size: 5px;
    }
}
